body {
    width: 95%;
    margin: 0 auto;
    font-family: verdana, helvetica, arial, system-ui;
}

h1, h2 {
    color: #007e7e;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 130%;
}

#elixirs h1 {
    color: black;
    margin-top: 50px;
}

#elixirs h2 {
    color: red;
}

#elixirs a:hover {
    background-color: saddlebrown;
}

#elixirs {
    padding: 5px;
    float: right;
    border: #007e7e 2px solid;
    text-align: center;
    width: 30%;
    margin-left: 10px;
    background-image: url("../images/cocktail.gif");
    background-repeat: repeat-x;
}

#content {
    width: 70%;
}

footer {
    font-size: 50%;
    text-align: center;
    clear: both;
}

.color {
    color: #444444;
    margin: 30px;
    padding: 20px;
    background-color: #a7cece;
    border: white 2px dotted;
}

.color img {
    float: left;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -58px;
}

.color p {
    padding-left: 35px;
}

header {
    width: calc(70% - 15px);
    text-align: end;
}