body{
    margin: 0 auto;
    font-size: 0;
}

div{
    font-size: 16px;
    display: inline-block;
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    vertical-align: top;
    width: calc(50% - 20px);
    margin: 10px;
}

footer{
    font-size: 16px;
}