body{
    font-family: Verdana, system-ui;
    font-size: 1.1em;
    background-color: silver;
}

h1{
    font-variant: small-caps;
    background-color: red;
}

body > a:hover{
    border: black solid 5px;
}

.stippeltjesrand{
    border: dotted 1px;
}