body table tbody tr .nietDezeMaand {
    background-color: gray;
}

tbody > tr td:first-child {
    background-color: rgb(255, 220, 220);
}

tbody > tr td:last-child {
    background-color: rgb(255, 220, 220);
}

table tbody > tr .feestdag {
    background-color: rgb(250, 120, 120);
}

th:first-child {
    background-color: rgb(170, 170, 200);
}


thead > tr td {
    color: rgb(200, 190, 240);
    background-color: rgb(35, 37, 70);
}

table {
    border-collapse: collapse;
    border: 2px solid black;
}

td {
    border: 2px dotted black;
}