body{
    width: 95%;
    margin: 0 auto;

}

nav{
    color: black;
    background-color: #444444;
    margin-top: 0;
    margin-bottom: 5px;
}

nav > a{
    color: lightgreen;
    text-decoration: none;

}

h1{
    background-image: url("../images/header.jpg");
    background-size: cover;
    color: white;
    margin-bottom: 0;
    margin-top:5px;
    padding-bottom: 4%;
    font-family: Arial, system-ui;
    font-weight: bold;
    font-size: 40px;
}

article{
    background-color: lightgray;
    padding-top:15px;
}

header{
    text-decoration: underline;
    font-weight: bold;
}

h2, article, nav, article > footer, article > p{
    padding-left: 10px;
    font-family: verdana, arial, system-ui;
}

article > footer{
    margin-bottom: 5px;
    padding-bottom: 5px;
}

footer{
    padding-left: 0
}