nav>a{
    color: lightgreen;
    text-decoration: none;

}
nav{
    color: black;
    background-color: #444444;
    margin-top: 0;
    margin-bottom: 5px;
}
h1{
    background-image: url("../images/header.jpg");
    background-size: cover;
    color: white;
    margin-bottom: 0;
    margin-top:5px;
    padding-bottom: 4%;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
}
body{
    width: 95%;
    margin: 0 auto;

}
header{
    text-decoration: underline;
    font-weight: bold;
}
article{
    background-color: lightgray;
    padding-top:15px;
}
h2, article, nav{
    padding-left: 10px;
    font-family: verdana, arial, sans-serif;
}
article>footer{
    margin-bottom: 5px;

}
footer{
    padding-left: 0
}