body{
    width: 95%;
    margin: 10px auto;
}

nav{
    color: black;
    background-color: #444444;
    margin-top: 0;
    margin-bottom: 5px;
}

nav > a{
    color: lightgreen;
    text-decoration: none;

}