body{
    width: 90%;
    margin: 5px auto;
    background-color: lightblue;
}

.black_flag {
    width: 300px;
    height: 174px;
}

.jaws{
    width: 413px;
    height: 500px;
}

.portrait{
    width: 266px;
    height: 400px;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

th, td{
    text-align: center;
}

li{
    list-style-type: none;
}

section{
    border-bottom: 10px solid white;
    text-align: center;
}

h2{
    text-align: center;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-width: 800px;
    margin: 0 auto;
}

.profile ul {
    margin: 0;
    padding: 0;
}

.profile figure {
    margin: 0;
}

table{
    text-align: center;
    margin: auto;
    width: 60%;
}
