body{
    margin: 0 auto;
    width: 95%;
    background-color: #2F3E46;
    font-family: Arial, sans-serif;
}

h1{
    text-align: center;
    color: #869AAD;
}

div{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

div ul{
    background-color: #869AAD;
    padding: 10px 15px;
    border-radius: 6px;
    list-style: none;
    min-width: 200px;
    flex-basis: 100%;
}

h2{
    margin-top: 0;
}

a:hover{
    color: red;
}

@media (min-width: 768px){
    div{
        justify-content: flex-start;
    }
    div ul{
        flex-basis: calc(33.33% - 14px);
    }
}

@media (min-width: 1200px){
    div ul{
        flex-basis: calc(20% - 16px);
    }
}