body{
    font: 1.2em/1.2 Helvetica, aria, sans-serif;
    margin: 0 3%;
}

h1{
    font-size: 1.8em;
    margin: .9em 0 0 0;
}

h2{
    font-size: 1.5em;
    margin: 1.5em 0 0 0;
}

img{
    max-width: 100%;
}

figure{
    background: black;
    border-radius: 5px;
    color: red;
    margin: 0 0 25px 0;
    padding: 10px;
    text-align: center;
}

figcaption{
    font-size: .8em;
}

@media screen and (width < 786px){
    *{
        box-sizing: border-box;
    }

    body{
        margin: 0 1%;
    }

    figure{
        width: 100%;
    }

    img{
        width: 100%;
        height: auto;
        display: block;
    }
}

@media screen and (width >= 786px){
    *{
        box-sizing: border-box;
    }

    body{
        margin: 0 1%;
        background-color: #ccccfe;
    }

    figure{
        display: inline-block;
        width: calc(50% - 5px);
    }

    img{
        width: 100%;
        height: auto;
        display: block;
    }
}

@media screen and (width >= 992px){
    *{
        box-sizing: border-box;
    }

    body{
        margin: 0 1%;
        background-color: #ccfecb;
    }

    figure{
        display: inline-block;
        width: calc(33% - 1px);
    }

    img{
        width: 100%;
        height: auto;
        display: block;
    }
}