* {
    box-sizing: border-box;
}

body {
    font: 1.2em/1.2 Helvetica, aria, sans-serif;
    margin: 0 1%;
}

h1 {
    font-size: 1.8em;
    margin: .9em 0 0 0;
}

h2 {
    font-size: 1.5em;
    margin: 1.5em 0 0 0;
}

img {
    max-width: 100%;
}

figure {
    background: black;
    border-radius: 5px;
    color: red;
    margin: 0 0 25px 0;
    padding: 10px;
    text-align: center;
    width: 100%;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

figcaption {
    font-size: .8em;
}

footer {
    text-align: center;
}

@media screen and (width >= 768px) {
    body {
        background-color: #ccccfe;
    }

    figure {
        display: inline-block;
        width: calc(50% - 5px);
    }
}

@media screen and (width >= 992px) {
    body {
        background-color: #ccfecb;
    }

    figure {
        display: inline-block;
        width: calc(33% - 1px);
    }
}