body{
    width: 95%;
    margin: 0 auto;
}

.row > div{
    height: 150px;
    background-clip: content-box;
    background-color: #dbdfe5;
    font-size: 0;
}

.row > .dark{
    background-color: #abb1b8;
}