body {
    background-color: lightblue;
}

.black_flag {
    width: 300px;
    height: 174px;
}

.jaws {
    width: 413px;
    height: 500px;
}

.portrait {
    width: 266px;
    height: 400px;
}

table, td, th {
    text-align: center;
    border-collapse: collapse;
    border: 1px solid black;
}

footer{
    text-align: center;
}

.ul_hobbies{
    max-width: 600px;
}