body{
    margin: 0 auto;
    width: 50%;
}

article:nth-child(2n + 1) img{
    float: left;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-right: 5px;
}

article:nth-child(2n) img{
    float: right;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-right: 5px;
}

article{
    border: 1px solid black;
    margin-top: 10px;
    height: 180px;
    vertical-align: middle;
}

p, h2{
    margin-left: 5px;
    margin-right: 5px;
}

footer{
    text-align: center;
}