.form-row {
    margin-bottom: 15px;
}

label {
    display: inline-block; width: 120px;
}

input {
    outline: none;
}

.error-border {
    border: 2px solid red;
}

.error-text {
    color: red;
    margin-left: 10px;
}