body {
    font-family: sans-serif;
    padding: 20px;
}

.row {
    margin-bottom: 10px;
    display: flex;
}

.label {
    width: 150px;
}

select[multiple] {
    width: 120px;
    height: 110px;
}

button {
    margin-top: 15px;
}