html {
    background-color: #333;
    font-family: helvetica, sans-serif;
}

* {
    padding: 10px;
}

body {
    Font-size: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
}

header {
    text-align: center;
}

body, section {
    margin: 5px;
}

section a {
    border: 1px solid #333;
}

header, footer {
    background-color: #ddaa00;
    color: white;
}

header a, footer a {
   color: white;
}

nav {
    background-color: #ccc;
    padding: 5px 2px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

nav a {
    margin: 5px;
    border: 1px solid black;
    background-color: white;
    color: #ddaa00;
    padding-right: 5%;
    padding-left: 5%;
}

main {
    background-color: grey;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}

img {
    margin: 0;
    width: 97%;
    height: auto;
}

div {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5%;
    margin: 5px;
    width: 100%;
}

div a {
    text-align: center;
    color: gray;
    border: 1px solid gray;
    margin: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

footer a, footer p {
    margin: 5px 0;
}

@media screen and (width > 700px) {
    main {
        flex-wrap: nowrap;
    }

    div {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    div p {
        width: 100%;
    }
}

