.container {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(5, auto);
}

.container .block {
    padding: 20px;
    color: white;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}

.block.block1 {
    background-color: #b6366a;
    grid-column: 1 / 4;
}

.block.block2 {
    background-color: #726ea6;
    grid-row: 2 / 4;
}

.block.block3 {
    background-color: #7d8dc2;
}

.block.block4 {
    background-color: #a1d2da;
}

.block.block5 {
    background-color: #c392d0;
    grid-column: 2 / 4;
}

.block.block6 {
    background-color: #b6366a;
    grid-column: 1 / 3;
}

.block.block7 {
    background-color: #726ea6;
}

.block.block8 {
    background-color: #7d8dc2;
    grid-column: 1 / 4;
}
